<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="none">
    <test verbose="2" preserve-order="true" name="API Test">
        <classes>
            <class name="com.epam.webservices.training.tests.ApplicationTest"/>
            <class name="com.epam.webservices.training.tests.ApacheHttpClientTest"/>
            <class name="com.epam.webservices.training.tests.RestAssuredDemoTest"/>
            <class name="com.epam.webservices.training.tests.RestTemplDemoTest"/>
        </classes>
    </test>
</suite>